<div class="container-fluid position-relative navbar header bg-primary">
  <a class="navbar-brand">PMT - Accueil</a>

  <div class="position-absolute top-50 start-50 translate-middle">
    <button class="btn btn-success" (click)="toggleTaskboard()">
      {{
        showTaskboard
          ? "Voir la liste des projets"
          : "Voir le tableau des tâches"
      }}
    </button>
  </div>
  <div class="position-absolute top-50 end-0 translate-middle-y">
    <button
      class="btn btn-black me-3"
      title="Historique des tâches"
      (click)="onShowHistory()"
      *ngIf="isLoggedIn"
    >
      <i class="fa fa-history"></i>
    </button>

    <button
      class="btn btn-black me-3"
      id="toggleButton"
      [ngClass]="{
        'color-white': notificationsActive,
        'color-black': !notificationsActive
      }"
      [title]="
        notificationsActive
          ? 'Désactiver les notifications'
          : 'Activer les notifications'
      "
      (click)="toggleNotifications()"
      *ngIf="isLoggedIn"
    >
      <i class="fa fa-bell"></i>
    </button>
    <button class="btn btn-danger me-3" (click)="logout()" *ngIf="isLoggedIn">
      Se déconnecter
    </button>
  </div>
</div>

<div class="text-center mt-5">Bienvenue, vous êtes connecté !</div>
<div class="container mt-5" *ngIf="!showTaskboard && !showHistory">
  <form class="row mb-3" (ngSubmit)="onAddProject(fproject)" #fproject="ngForm">
    <h1 class="text-center my-4">Liste des projets</h1>
    <div class="form-row align-items-center">
      <div class="col-md-4">
        <div class="form-group">
          <label for="projectName">Nom du projet</label>
          <input
            class="form-control"
            id="projectName"
            name="currentProjectName"
            type="string"
            #currentProjectName="ngModel"
            ngModel
            required
            placeholder="Entrez le nom du projet"
          />
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            currentProjectName.touched &&
            currentProjectName.invalid &&
            currentProjectName.errors
          "
        >
          <ng-container
            class="invalid-feedback"
            *ngIf="currentProjectName.errors['required']"
          >
            Le nom de projet ne peut pas être vide
          </ng-container>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="projectDescription">Description</label>
          <input
            class="form-control"
            id="projectDescription"
            name="currentProjectDescription"
            #currentProjectDescription="ngModel"
            ngModel
            placeholder="Entrez une description"
            rows="1"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="projectStartDate">Date de début</label>
          <input
            class="form-control"
            id="projectStartDate"
            name="currentStartDate"
            type="date"
            #currentStartDate="ngModel"
            ngModel
          />
        </div>
      </div>
      <div class="col-2 d-flex align-self-end justify-content-center">
        <button class="btn btn-primary" type="submit">Ajouter</button>
      </div>
    </div>
  </form>
  <div class="row mb-3">
    <div *ngIf="users$ | async as users">
      <div *ngIf="priorities$ | async as priorities">
        <div *ngIf="statuses$ | async as statuses">
          <div *ngIf="roles$ | async as roles">
            <div *ngIf="tasks$ | async as tasks">
              <ng-container *ngFor="let project of projects">
                <app-project-item
                  [project]="project"
                  [users]="users"
                  [roles]="roles"
                  [priorities]="priorities"
                  [statuses]="statuses"
                  [tasks]="tasks"
                ></app-project-item>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- taskboard div -->
<div class="container mt-5" *ngIf="showTaskboard">
  <div *ngIf="tasks$ | async as tasks">
    <div *ngIf="statuses$ | async as statuses">
      <app-taskboard [tasks]="tasks" [statuses]="statuses"></app-taskboard>
    </div>
  </div>
</div>

<!-- history -->
<div class="container mt-5" *ngIf="showHistory">
  <div *ngIf="taskHistoryItems$ | async as taskHistoryItems">
    <div *ngIf="users$ | async as users">
      <div *ngIf="tasks$ | async as tasks">
        <app-taskhistory
          [taskHistoryItems]="taskHistoryItems"
          [users]="users"
          [tasks]="tasks"
        ></app-taskhistory>
      </div>
    </div>
  </div>
</div>
